// aca deberia tener los $ con los nombres elegidos y los colores 
$backgroud-color1 : #eed4a586 ;
$color-a :  #353535; 
$background-color2 : #ffffff9c ;
$background-postbanner: #ffffff62 ;
$ropahombres: #cfb3926b ;
$ropamujeres: #dadada ;
$ropaniños: #cfb3926b;
$footer : #f2f2f2;
$product: #e7e2e2ab;
$carritoback: #927654;
$carritocolor: #fff;
$botonback : #3b3737;
$botoncolor: #fff;
$backhover: #c2a580;
$colorhover: #ffffff;


