.ropa-hombres {
    background-color: #cfb3926b;
    padding: 100px;
    text-align: center;

    h2 {
        font-size: 2rem;
        margin-bottom: 20px;
      }
    p {
        font-size: 1.2rem;
        margin-bottom: 40px;
      }
  }
  .ropa-mujeres {
    background-color: #dadada;
    padding: 100px;
    text-align: center;
    h2 {
        font-size: 2rem;
        margin-bottom: 20px;
      }
    p {
        font-size: 1.2rem;
        margin-bottom: 40px;
      }
  }
  .ropa-niños {
    background-color: #cfb3926b;
    padding: 100px;
    text-align: center;
    h2 {
        font-size: 2rem;
        margin-bottom: 20px;
      }
    p {
        font-size: 1.2rem;
        margin-bottom: 40px;
      }
  }